In [3]:
# pandas_study_01.py

# ref. wikidocs.net/"한권으로 끝내는 판다스 노트"

In [4]:
import pandas as pd
import numpy as np

In [5]:
pd.__version__

'2.0.3'

#### Series

In [6]:
arr = np.arange(100, 105)
arr

array([100, 101, 102, 103, 104])

In [7]:
s = pd.Series(arr)
s

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [8]:
# dtype을 지정하여 생성한 경우
s = pd.Series(arr, dtype='int32')
s

0    100
1    101
2    102
3    103
4    104
dtype: int32

#### List

In [9]:
s = pd.Series(['부장', '차장', '대리', '사원', '인턴'])
s

0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [10]:
# s = pd.Series([91, 2.5, '스포츠', 4, 5.16])
# s

In [11]:
# indexing
s.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
s[0]

'부장'

In [13]:
# fancy indexing
s[[1, 3]]

1    차장
3    사원
dtype: object

In [14]:
s[np.arange(1, 4, 2)]

1    차장
3    사원
dtype: object

In [15]:
# boolean indexing
np.random.seed(0)
s = pd.Series(np.random.randint(10000, 20000, size=(10,)))
s

0    12732
1    19845
2    13264
3    14859
4    19225
5    17891
6    14373
7    15874
8    16744
9    13468
dtype: int32

In [16]:
s > 15000

0    False
1     True
2    False
3    False
4     True
5     True
6    False
7     True
8     True
9    False
dtype: bool

In [17]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'], index=['a', 'b', 'c', 'd', 'e'])
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [18]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [19]:
# 사용자 정의의 index 부여시 변경된 index로 조회 가능
print(s['c'])
print('\n')
print(s[['a','d']])

개발


a    마케팅
d     기획
dtype: object

In [20]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'])
s.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
s.index = list('abcde')
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

#### 속성(attribute)

In [22]:
# values는 series 데이터 값(value)만 numpy array 형식으로 가져옴
s.values

array(['마케팅', '경영', '개발', '기획', '인사'], dtype=object)

In [23]:
s.ndim # 차원

1

In [26]:
# shape은 데이터의 모양을 알아보기 위하여 사용
# Series의 shape은 데이터의 갯수 

s. shape

(5,)

#### NaN(Not a Number)

In [28]:
s = pd.Series(['선화', '강호', np.nan, '소정', '우영'])
s

0     선화
1     강호
2    NaN
3     소정
4     우영
dtype: object

In [29]:
# 결측치 처리 ; isnull(), isna()
s.isnull()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [30]:
s.isna()

0    False
1    False
2     True
3    False
4    False
dtype: bool